@model List<Category>

<a asp-controller="Category" asp-action="Create" class="btn btn-info">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Category ID
            </th>
            <th scope="col">
                Category Name
            </th>
            <th scope="col">
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">
                    @i.CategoryID
                </th>
                <th scope="row">
                    @i.CategoryName
                </th>
                <th scope="row">
                    @i.Description
                </th>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@i.CategoryID">Edit</a>
                    <a class="btn btn-primary" asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>